.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
    display: block;
    padding-top: 6px;
    padding-bottom: 20px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{
    border:1px solid #999999;
    text-align:center;
    margin-bottom:28px;
    padding:40px 25px;
}
.our-webcoderskull #presentation:hover {
    box-shadow: 0px 0px 10px rgb(210, 206, 206);
    /*box-shadow: inset 0 0 0.5em rgb(18, 166, 80);*/
    border: 0;
}

.our-webcoderskull #partenaire:hover {
    box-shadow: 0px 0px 10px #92278f;
    /*box-shadow: inset 0 0 0.5em rgb(18, 166, 80);*/
    border: 0;
}

.practice-area .inner h3{
    color:#3c3c3c;
    font-size:24px;
    font-weight:500;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0;
}
.practice-area .inner p{
    font-size:14px;
    line-height:22px;
    font-weight:400;
}
.practice-area .inner img{
    display:inline-block;
}


/*.our-webcoderskull{
    background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;

}*/
.our-webcoderskull #partenaire{
    float:left;
    width:100%;
    /* background:#fff; */
    padding:2px 2px;
    text-align:center;
    box-shadow: inset 0 0 2em rgb(18, 166, 80);
    /*border:2px solid #92278f;*/
    margin: 0 0 2px;
}

.our-webcoderskull #presentation{
    float:left;
    width:100%;
    background:#fff;
    padding:2px 2px;
    text-align:center;
    /*border:2px solid #d2cece;*/
    box-shadow: inset 0 0 4em rgb(210, 206, 206);
    margin: 0 0 2px;
}

.our-webcoderskull .cnt-block figure{
    width:100px;
    height:100px;
    border-radius:100%;
    display:inline-block;
    margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{
    width:100px;
    height:100px;
    border-radius:100%;
}
.our-webcoderskull .cnt-block h3{
    color:#2a2a2a;
    font-size:20px;
    font-weight:500;
    padding:6px 0;
    text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
    text-decoration:none;
    color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
    color:#337ab7;
}
.our-webcoderskull .cnt-block p{
    color:#2a2a2a;
    font-size:13px;
    line-height:20px;
    font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
    margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
    display:inline-block;
    width:auto;
    margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
    font-size:24px;
    color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
    color:#025a8e;
}

.our-webcoderskull #partenaire p{
    font-size: large;
    font-weight: bold;
    font-family: 'Livvic', sans-serif;
}

.our-webcoderskull #presentation p{
    font-size: large;
    font-family: 'Livvic', sans-serif;
}



